{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for name, day in events %}
            <div class="schedule bg-white mb-5">
                <div class="row headline sticky-top" style="top:49px">
                    <h2 class="h6 text-uppercase my-2">{{ name }}</h2>
                </div>
                {% for event in day|sort((a, b) => a.beginn <=> b.beginn) %}
                <div class="row row-striped">
                    <div class="col-12">
                        <h4 class="h5 text-uppercase"><strong>{{ event.veranstaltung }}</strong></h4>
                        <p>{{ event.typ }}</p>
                        <ul class="list-inline mb-1">
                            <li class="list-inline-item"><i class="text-htw fa fa-calendar-o" aria-hidden="true"></i> {{ event.tag }}</li>
                            <li class="list-inline-item"><i class="text-htw fa fa-clock-o" aria-hidden="true"></i> {{ event.beginn }} - {{ event.ende }} Uhr</li>
                            <li class="list-inline-item"><i class="text-htw fa fa-location-arrow" aria-hidden="true"></i> {{ event.ort }}</li>
                        </ul>
                    </div>
                </div>
                {% else %}
                    <div class="row row-striped">
                        <div class="col-12">
                            <p>Keine Veranstaltungen gefunden.</p>
                        </div>
                    </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
